<h1>Welcome to Blackjack...</h1>
<h4>You have $500. How much would you like to bet?</h4>
<form action="/getBetAmount" method="post">
  Amount : <input type="text" name="bet_amount"/>
  <input class='btn' type='submit'/>
</form>